.header {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo {
  width: 100px;
  object-fit: center center;
  padding: -30px;
  margin: 0 20px;
  margin-right: 40px;
  margin-top: 18px;
}

.header-search {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 66% !important;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  outline: none;
}

.header-search-input {
  position: absolute;
  height: 40px;
  border: none;
  width: 100%;
  border: 1px solid #ccc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 10px;
  border-radius: 7px;
  -moz-box-shadow: 2px 2px 3px #666;
  -webkit-box-shadow: 2px 2px 3px #666;
  box-shadow: 2px 2px 3px #666;
  font-size: 20px;
  padding: 1px 7px;

  margin-right: 4px;
  outline: 0;
  -webkit-appearance: none;
  /* border: 3px solid #f9a115; */

  /* border-radius: 6px 0px solid #f9a115; */
}

.header-search-input:focus {
  height: 41px;
  /* margin-right: 0px; */
  margin-left: 2.5px;

  border: 3px solid #f9a115;
  border-radius: 6px 0px solid #f9a115;
}

.header-search-icon {
  position: absolute;
  top: 10;
  right: 2px;
  height: 38px !important;
  width: 41px !important;
  padding: 5px !important;
  border-radius: 0 6px 6px 0;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #febd69;
}

.header-nav {
  display: flex;
  flex: 0.5;
  justify-content: space-evenly;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.location {
  margin-top: -10px;
  /* background-color: red; */
}
.header-option-location {
  margin-left: -25px;
  /* background-color: red; */
}

.header-option-lineOne {
  font-size: 10px;
}
.header-option-lineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header-optionBasket {
  color: white;
  display: flex;
  align-items: center;
}

.header-basketCount {
  margin: 0 10px;
}

.header-option Link {
  text-decoration: none !important;
  color: wheat !important;
}
