.header {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-logo {
  width: 100px;
  object-fit: center center;
  padding: -30px;
  margin: 0 20px;
  margin-right: 40px;
  margin-top: 18px;
}

.header-search {
  position: relative;
  display: flex;
  flex: 0.8;
  align-items: center;
  justify-content: center;
  height: 66% !important;
  padding: 10px;
  border-radius: 9px;
  border: 2px solid #f9a115;
  border: 2px solid white;
}

.header-search-input {
  position: absolute;
  height: 100%;
  border-radius: 7px;
  border: none;
  width: 100%;
}
.header-search-input:focus {
  /* background-color: red; */
  border: 2px solid red;
}

.header-search-icon {
  position: absolute;
  top: 10;
  right: -2px;
  height: 40px !important;
  width: 41px !important;
  padding: 5px !important;
  border-radius: 0 7px 7px 0;

  /* height: 22px !important; */
  background-color: #f6aa2f;
}

.header-nav {
  display: flex;
  /* flex: 1; */
  justify-content: space-evenly;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.location {
  margin-top: -10px;
  /* background-color: red; */
}
.header-option-location {
  margin-left: -25px;
  /* background-color: red; */
}

.header-option-lineOne {
  font-size: 10px;
}
.header-option-lineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header-optionBasket {
  color: white;
  display: flex;
  align-items: center;
}

.header-basketCount {
  margin: 0 10px;
}
