.login {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.login-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.login-container {
  border-radius: 5px;
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  padding: 20px;
}

.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login-container > form > h5 {
  margin-bottom: 5px;
}
.login-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
}
.login-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login-signButton {
  background-color: #f0c148;
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #845129;
  color: #111;

  cursor: pointer;
}
.login-registerButton {
  border-radius: 2px;
  width: 100%;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: darkgray;
  color: #111;

  cursor: pointer;
}
