.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  z-index: 1;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-height: 100px;
}

.product-info {
  height: 100px;
  width: 100%;
  margin-bottom: 15px;
}

.product-price {
  margin-top: 5px;
}

.product-rating {
  color: #f0c148;
}

.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c148;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #845129;
  color: #111;
}
